body{
    font-family: "Regular", sans-serif;
    font-size: 15px;
    color: aliceblue;
}

header{
    background-image: url(assets/first.svg);
    height:776px ;
    width: 0 auto;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size: cover;

}


 header h{
    font-size: 38px;
    font-weight: 535;
    color: #ffffff;
}
header p{
    color: aliceblue;
}

.container1{
  
    max-width: 1440px;
    margin: 0 auto;
}
.header-line{
    padding-left: 539px;
}

.header1{
    display: flex;
    margin-left: 49px;
    margin-right: 80px;
    margin-top: 16px;
}

.header-line{
    background-color: rgba(0, 0, 0, 0.3);
}



