body{
    font-family: "Regular", sans-serif;
    font-size: 15px;
    color: aliceblue;
}

header{
    background-image: url(assets/first.svg);
    
}
.contener{
    max-width: 1440px;
    margin: 0 auto;
}

 header h{
    font-size: 38px;
    font-weight: 535;
    color: #ffffff;
}
header p{
    color: aliceblue;
}