html, body{
    margin: 0px;
    padding: 0px;
}


body{
    font-family: "Regular", sans-serif;
    font-size: 15px;
    color: aliceblue;
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url(assets/first.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto; /* Можно настроить нужную высоту */
    margin: -2%;
    padding: 0px;
}


.header-line{
    width: 100%;
    margin-right: 80px;
    display: flex;
    justify-content: right;
}

.header1{
    display: flex;
    padding-left: 49px;
    padding-right: 80px;
    margin-top: 16px;
    align-items: center;
}

header a{
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    display:inline-block;
    margin-right:51px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.header-line{
    margin-top: 26px;
    margin-left: 80px;
    padding-left: 524px;
}

.donate{
    margin-right: 31px;
}

.header-little-img{
    padding: 64px;
    padding: 17px;
    width: 110px;
    height: 26px;
}

.header-text{
    margin-top: 189px;
    margin-right: 681px;
    margin-left: 64px;
}


header h{
    font-size: 38px;
    color: #ffffff;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    margin-top: 146px;
}


header p{
    color: aliceblue;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 29px;
    margin-top: 29px;
}

.header-button{
        background-color: transparent; /* Прозрачная заливка */
        border: 2px solid white; /* Белая граница */
        border-radius: 33px; /* Закругление углов */
        border: 1px solid; 
        color: white;
        padding: 17px 17px; 
        font-size: 13px; 
        cursor: pointer; 
        font-family: 'Public Sans', sans-serif;
        font-weight: 400;
}

.trusted{
    padding: 64px;
    margin-top: 122px;
}

.white-lines img{
    margin-right: 32px;
    width: 165.31;
    height: 1px;
}

header h1{
    font-size: 15px;  
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.button-lines button{
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    all: unset;
    cursor: pointer;
    color: #ffffff
}

.button-lines{
    display: flex;
    margin-top: 15px;
}

.b1{
    display: flex;
    flex-direction: column; /* Элементы располагаются в столбец */
    gap: 17px;
    margin-right: 157px;

}
.b2{
    display: flex;
    flex-direction: column; /* Элементы располагаются в столбец */
    gap: 17px;
    margin-right: 154px;
}
.b3{
    display: flex;
    flex-direction: column; /* Элементы располагаются в столбец */
    gap: 17px;
    margin-right: 136px;
}
.b4{
    display: flex;
    flex-direction: column; /* Элементы располагаются в столбец */
    gap: 17px;
    margin-right: 99px;
}
.b5{
    display: flex;
    flex-direction: column; /* Элементы располагаются в столбец */
    gap: 17px;
    margin-right: 101px;
}
.b6{
    display: flex;
    flex-direction: column; /* Элементы располагаются в столбец */
    gap: 17px;
}

.log{
    font-size: 12px;
}
.learn{
    font-size: 12px;
}

main{
    background-color: #F5F5F5;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h2{
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    color: #003331;
    text-align: center;
    font-size: 30px;
    padding-top: 120px;
}

.main-circle{
    justify-content: center;
    margin-right: 43px;
    margin-left: 43px;
    display: flex;

}

.circle-text{
    flex-direction: column;
    text-align: center;
    margin-top: 57px;
    display: block;
    
}


.line{
    margin-top: 97px;
    margin-left: 43px;
    margin-right: 44px;
}
h3 {
    font-weight: 110;
    font-size: 15px;
    color: #355362;
    font-family: 'Public Sans', sans-serif;
    margin-top: 19px;
}

.cent-position{
    position: relative;
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.cent-position img{
    object-fit: cover;
}

.h4-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    z-index: 1; 
    font-size: 16px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 90;
}

.block2{
    background-color: #f7f8f8;
    display: flex;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 64px;
    padding-right: 64px;
    /*width: 1150px; ;*/
    height: 261px ;
    justify-content: space-between;
}
.block2-text{
    padding-top: 80px;
}
.block2-text h5{
    font-family: 'Public Sans', sans-serif;
    color: #003331;
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 13px;
}
.block2-text h6{
    font-family: 'Public Sans', sans-serif;
    color: #33505e;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 37px;
    margin-top: 13px;
}
.block2-button{
        background-color: transparent; /* Прозрачная заливка */
        border: 1px solid #355362; 
        border-radius: 33px; /* Закругление углов */
        border: 1px solid; 
        color: #355362;
        cursor: pointer; 
        width: 153px;
        height: 54px;
}
.block2-image{
    display: flex;
}
.image1{
    width: 235px; ;
    height: 266px;
    margin-right: 8px;
}
.image2{
    width: 317px;
    height: 262px;
}

.link_line{
    background-color: #ffffff;
    display: flex;
    color: #355362;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 24px;
    padding-bottom: 21px;
}
.line3{
    margin-right: 32px;
    margin-bottom: 16px;
}
.img_link{
    display: flex;
    align-items: center;
}
.img_link img{
    margin-right: 8px;
}
.block3{
    background-color: #001414;
}




